USE [master]
GO
/****** Object:  Database [Sports4Life]    Script Date: 7/4/2026 11:16:59 AM ******/
CREATE DATABASE [Sports4Life]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sports4Life', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Sports4Life.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sports4Life_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Sports4Life_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sports4Life].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sports4Life]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 7/4/2026 11:16:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](30) NOT NULL,
	[PasswordHash] [varchar](255) NULL,
	[Email] [varchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[RoleId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 7/4/2026 11:17:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[Province] [nvarchar](100) NOT NULL,
	[Ward] [nvarchar](100) NOT NULL,
	[AddressDetail] [nvarchar](255) NOT NULL,
	[IsDefault] [bit] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[Label] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carriers]    Script Date: 7/4/2026 11:17:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carriers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Code] [varchar](50) NULL,
	[Active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 7/4/2026 11:17:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CartId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 7/4/2026 11:17:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 7/4/2026 11:17:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [char](10) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 7/4/2026 11:17:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[AccountId] [int] NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Avatar] [varchar](500) NULL,
	[Phone] [varchar](20) NULL,
	[Gender] [int] NOT NULL,
	[DateOfBirth] [date] NULL,
	[PositionId] [int] NOT NULL,
	[Salary] [decimal](18, 2) NOT NULL,
	[HireDate] [date] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderAddresses]    Script Date: 7/4/2026 11:17:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderAddresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ReceiverName] [nvarchar](100) NOT NULL,
	[ReceiverPhone] [varchar](20) NOT NULL,
	[Province] [nvarchar](100) NOT NULL,
	[Ward] [nvarchar](100) NOT NULL,
	[AddressDetail] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 7/4/2026 11:17:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
	[VariantId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 7/4/2026 11:17:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[OrderStatus] [varchar](50) NOT NULL,
	[PaymentStatus] [varchar](50) NOT NULL,
	[SubTotal] [decimal](12, 2) NOT NULL,
	[DiscountAmount] [decimal](12, 2) NOT NULL,
	[TotalAmount] [decimal](12, 2) NOT NULL,
	[VoucherId] [int] NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 7/4/2026 11:17:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PermissionName] [varchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Positions]    Script Date: 7/4/2026 11:17:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 7/4/2026 11:17:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VariantId] [int] NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 7/4/2026 11:17:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](510) NULL,
	[Description] [nvarchar](max) NULL,
	[Brand] [nvarchar](200) NULL,
	[CategoryId] [char](10) NOT NULL,
	[Status] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariants]    Script Date: 7/4/2026 11:17:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariants](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[SKU] [varchar](100) NOT NULL,
	[Size] [nvarchar](50) NULL,
	[Color] [nvarchar](50) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[IsDefault] [bit] NULL,
	[DisplayOrder] [int] NULL,
	[Status] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[Quantity] [smallint] NULL,
	[SoldCount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ranks]    Script Date: 7/4/2026 11:17:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ranks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RankName] [nvarchar](50) NOT NULL,
	[MinPoint] [int] NOT NULL,
	[DiscountPercent] [decimal](5, 2) NULL,
	[Description] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 7/4/2026 11:17:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[RoleId] [int] NOT NULL,
	[PermissionId] [int] NOT NULL,
 CONSTRAINT [PK_RolePermissions] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 7/4/2026 11:17:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipments]    Script Date: 7/4/2026 11:17:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[CarrierId] [int] NULL,
	[TrackingNumber] [varchar](100) NULL,
	[ShippingStatus] [varchar](50) NOT NULL,
	[ShippingFee] [decimal](12, 2) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/4/2026 11:17:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[AccountId] [int] NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Avatar] [varchar](500) NULL,
	[Phone] [varchar](20) NULL,
	[Gender] [int] NOT NULL,
	[DateOfBirth] [date] NULL,
	[TotalPoint] [int] NOT NULL,
	[TotalSpending] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[RankId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vouchers]    Script Date: 7/4/2026 11:17:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vouchers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[DiscountPercent] [int] NULL,
	[DiscountAmount] [decimal](10, 2) NULL,
	[MinOrderValue] [decimal](10, 2) NULL,
	[MaxDiscount] [decimal](10, 2) NULL,
	[Quantity] [int] NULL,
	[StartDate] [datetime] NULL,
	[ExpiredAt] [datetime] NULL,
	[IsActive] [tinyint] NULL,
	[Name] [nvarchar](255) NULL,
	[UsedCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlists]    Script Date: 7/4/2026 11:17:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlists](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([Id], [Username], [PasswordHash], [Email], [IsActive], [RoleId], [CreatedAt], [UpdatedAt]) VALUES (1, N'admin', N'{noop}123', N'dangannguyen1211@gmail.com', 1, 1, CAST(N'2026-06-26T20:05:43.9933333' AS DateTime2), NULL)
INSERT [dbo].[Accounts] ([Id], [Username], [PasswordHash], [Email], [IsActive], [RoleId], [CreatedAt], [UpdatedAt]) VALUES (2, N'user01', N'{noop}123', N'a@gmail.com', 1, 3, CAST(N'2026-06-26T20:05:43.9933333' AS DateTime2), NULL)
INSERT [dbo].[Accounts] ([Id], [Username], [PasswordHash], [Email], [IsActive], [RoleId], [CreatedAt], [UpdatedAt]) VALUES (3, N'user02', N'{noop}123', N'b@gmail.com', 1, 3, CAST(N'2026-06-26T20:05:43.9933333' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Addresses] ON 

INSERT [dbo].[Addresses] ([Id], [AccountId], [Province], [Ward], [AddressDetail], [IsDefault], [CreatedAt], [UpdatedAt], [Label]) VALUES (1, 1, N'TP. Hồ Chí Minh', N'Phường Bến Nghé', N'01 Lê Duẩn', 1, CAST(N'2026-06-26T22:43:02.3066667' AS DateTime2), NULL, N'Địa chỉ mặc định')
INSERT [dbo].[Addresses] ([Id], [AccountId], [Province], [Ward], [AddressDetail], [IsDefault], [CreatedAt], [UpdatedAt], [Label]) VALUES (2, 2, N'TP. Hồ Chí Minh', N'Phường 12', N'12 Nguyễn Trãi', 1, CAST(N'2026-06-26T22:43:02.3066667' AS DateTime2), NULL, N'Địa chỉ mặc định')
INSERT [dbo].[Addresses] ([Id], [AccountId], [Province], [Ward], [AddressDetail], [IsDefault], [CreatedAt], [UpdatedAt], [Label]) VALUES (3, 2, N'TP. Hồ Chí Minh', N'Phường Tân Định', N'99 Hai Bà Trưng', 0, CAST(N'2026-06-26T22:43:02.3066667' AS DateTime2), NULL, N'Địa chỉ mặc định')
SET IDENTITY_INSERT [dbo].[Addresses] OFF
GO
SET IDENTITY_INSERT [dbo].[Carriers] ON 

INSERT [dbo].[Carriers] ([Id], [Name], [Code], [Active]) VALUES (1, N'Giao Hàng Nhanh', N'GHN', 1)
INSERT [dbo].[Carriers] ([Id], [Name], [Code], [Active]) VALUES (2, N'Giao Hàng Tiết Kiệm', N'GHTK', 1)
INSERT [dbo].[Carriers] ([Id], [Name], [Code], [Active]) VALUES (3, N'Viettel Post', N'VTP', 1)
SET IDENTITY_INSERT [dbo].[Carriers] OFF
GO
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (N'C001      ', N'Giày chạy bộ')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (N'C002      ', N'Giày đá bóng')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (N'C003      ', N'Giày tập gym')
GO
INSERT [dbo].[Employees] ([AccountId], [FullName], [Avatar], [Phone], [Gender], [DateOfBirth], [PositionId], [Salary], [HireDate], [CreatedAt], [UpdatedAt]) VALUES (1, N'System Administrator', NULL, N'0900000000', 1, CAST(N'1995-01-01' AS Date), 1, CAST(30000000.00 AS Decimal(18, 2)), CAST(N'2025-01-01' AS Date), CAST(N'2026-06-26T22:11:21.957' AS DateTime), NULL)
INSERT [dbo].[Employees] ([AccountId], [FullName], [Avatar], [Phone], [Gender], [DateOfBirth], [PositionId], [Salary], [HireDate], [CreatedAt], [UpdatedAt]) VALUES (7, N'Nguyễn Văn Nhân', N'staff01.jpg', N'0901234567', 1, CAST(N'1998-03-15' AS Date), 2, CAST(18000000.00 AS Decimal(18, 2)), CAST(N'2025-03-01' AS Date), CAST(N'2026-06-26T22:11:21.957' AS DateTime), NULL)
INSERT [dbo].[Employees] ([AccountId], [FullName], [Avatar], [Phone], [Gender], [DateOfBirth], [PositionId], [Salary], [HireDate], [CreatedAt], [UpdatedAt]) VALUES (8, N'Trần Thị Mai', N'staff02.jpg', N'0901234568', 0, CAST(N'1999-08-22' AS Date), 3, CAST(12000000.00 AS Decimal(18, 2)), CAST(N'2025-04-01' AS Date), CAST(N'2026-06-26T22:11:21.957' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[OrderAddresses] ON 

INSERT [dbo].[OrderAddresses] ([Id], [OrderId], [ReceiverName], [ReceiverPhone], [Province], [Ward], [AddressDetail], [CreatedAt], [UpdatedAt]) VALUES (1, 1, N'Nguyễn Văn A', N'0900000001', N'TP. Hồ Chí Minh', N'Phường 12', N'12 Nguyễn Trãi', CAST(N'2025-01-10T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[OrderAddresses] ([Id], [OrderId], [ReceiverName], [ReceiverPhone], [Province], [Ward], [AddressDetail], [CreatedAt], [UpdatedAt]) VALUES (2, 2, N'Trần Thị B', N'0900000002', N'Hà Nội', N'Phường Cửa Nam', N'25 Tràng Thi', CAST(N'2025-01-11T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[OrderAddresses] ([Id], [OrderId], [ReceiverName], [ReceiverPhone], [Province], [Ward], [AddressDetail], [CreatedAt], [UpdatedAt]) VALUES (3, 3, N'Lê Văn C', N'0900000003', N'Đà Nẵng', N'Phường Hải Châu', N'150 Bạch Đằng', CAST(N'2025-01-12T00:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[OrderAddresses] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [OrderId], [Price], [Quantity], [VariantId]) VALUES (1, 1, 2500000, 1, 1)
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [Price], [Quantity], [VariantId]) VALUES (2, 1, 3400000, 1, 2)
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [Price], [Quantity], [VariantId]) VALUES (3, 2, 1700000, 2, 3)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [AccountId], [OrderStatus], [PaymentStatus], [SubTotal], [DiscountAmount], [TotalAmount], [VoucherId], [CreateDate], [UpdateDate]) VALUES (1, 2, N'CONFIRMED', N'PAID', CAST(1500000.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), CAST(1500000.00 AS Decimal(12, 2)), NULL, CAST(N'2025-01-10T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Orders] ([Id], [AccountId], [OrderStatus], [PaymentStatus], [SubTotal], [DiscountAmount], [TotalAmount], [VoucherId], [CreateDate], [UpdateDate]) VALUES (2, 3, N'PENDING', N'UNPAID', CAST(400000.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), CAST(400000.00 AS Decimal(12, 2)), NULL, CAST(N'2025-01-11T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Orders] ([Id], [AccountId], [OrderStatus], [PaymentStatus], [SubTotal], [DiscountAmount], [TotalAmount], [VoucherId], [CreateDate], [UpdateDate]) VALUES (3, 4, N'CANCELLED', N'UNPAID', CAST(5000000.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), CAST(5000000.00 AS Decimal(12, 2)), NULL, CAST(N'2025-01-12T00:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Permissions] ON 

INSERT [dbo].[Permissions] ([Id], [PermissionName], [Description]) VALUES (1, N'USER_VIEW', N'Xem danh sách người dùng')
INSERT [dbo].[Permissions] ([Id], [PermissionName], [Description]) VALUES (2, N'USER_CREATE', N'Thêm người dùng')
INSERT [dbo].[Permissions] ([Id], [PermissionName], [Description]) VALUES (3, N'USER_UPDATE', N'Cập nhật thông tin người dùng')
SET IDENTITY_INSERT [dbo].[Permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Positions] ON 

INSERT [dbo].[Positions] ([Id], [Name], [Description], [CreatedAt], [UpdatedAt]) VALUES (1, N'Administrator', N'Quản trị hệ thống', CAST(N'2026-06-26T21:02:29.303' AS DateTime), NULL)
INSERT [dbo].[Positions] ([Id], [Name], [Description], [CreatedAt], [UpdatedAt]) VALUES (2, N'Store Manager', N'Quản lý cửa hàng', CAST(N'2026-06-26T21:02:29.303' AS DateTime), NULL)
INSERT [dbo].[Positions] ([Id], [Name], [Description], [CreatedAt], [UpdatedAt]) VALUES (3, N'Sales Staff', N'Nhân viên bán hàng', CAST(N'2026-06-26T21:02:29.303' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Positions] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImages] ON 

INSERT [dbo].[ProductImages] ([Id], [VariantId], [ImageUrl], [IsDefault], [SortOrder], [CreatedAt], [UpdatedAt]) VALUES (1, 1, N'https://res.cloudinary.com/pnam233/image/upload/product/sp1/variant_1/sp1_1_1.webp', 1, 1, CAST(N'2026-06-30T16:36:26.1033333' AS DateTime2), NULL)
INSERT [dbo].[ProductImages] ([Id], [VariantId], [ImageUrl], [IsDefault], [SortOrder], [CreatedAt], [UpdatedAt]) VALUES (2, 2, N'https://res.cloudinary.com/pnam233/image/upload/product/sp2/variant_1/sp2_1_1.webp', 1, 1, CAST(N'2026-06-30T16:36:26.1033333' AS DateTime2), NULL)
INSERT [dbo].[ProductImages] ([Id], [VariantId], [ImageUrl], [IsDefault], [SortOrder], [CreatedAt], [UpdatedAt]) VALUES (3, 3, N'https://res.cloudinary.com/pnam233/image/upload/product/sp3/variant_1/sp3_1_1.webp', 1, 1, CAST(N'2026-06-30T16:36:26.1033333' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[ProductImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Description], [Brand], [CategoryId], [Status], [CreatedAt], [UpdatedAt]) VALUES (1, N'Nike Air Zoom Pegasus 40', N'Giày chạy bộ êm nhẹ, đàn hồi tốt, phù hợp chạy đường dài', NULL, N'C001      ', 1, CAST(N'2025-09-28T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Products] ([Id], [Name], [Description], [Brand], [CategoryId], [Status], [CreatedAt], [UpdatedAt]) VALUES (2, N'Adidas Ultraboost Light', N'Đế Boost hoàn trả năng lượng cao, ôm chân', NULL, N'C001      ', 1, CAST(N'2024-12-16T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Products] ([Id], [Name], [Description], [Brand], [CategoryId], [Status], [CreatedAt], [UpdatedAt]) VALUES (3, N'Asics Gel Nimbus 25', N'Đệm Gel giảm chấn tối ưu', NULL, N'C001      ', 1, CAST(N'2025-12-10T00:00:00.000' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVariants] ON 

INSERT [dbo].[ProductVariants] ([Id], [ProductId], [SKU], [Size], [Color], [Price], [IsDefault], [DisplayOrder], [Status], [CreatedAt], [UpdatedAt], [Quantity], [SoldCount]) VALUES (1, 1, N'SKU-1', N'Default', N'Default', CAST(2500000.00 AS Decimal(18, 2)), 1, 1, 1, CAST(N'2025-09-28T00:00:00.000' AS DateTime), NULL, 100, 0)
INSERT [dbo].[ProductVariants] ([Id], [ProductId], [SKU], [Size], [Color], [Price], [IsDefault], [DisplayOrder], [Status], [CreatedAt], [UpdatedAt], [Quantity], [SoldCount]) VALUES (2, 2, N'SKU-2', N'Default', N'Default', CAST(3200000.00 AS Decimal(18, 2)), 1, 1, 1, CAST(N'2024-12-16T00:00:00.000' AS DateTime), NULL, 100, 0)
INSERT [dbo].[ProductVariants] ([Id], [ProductId], [SKU], [Size], [Color], [Price], [IsDefault], [DisplayOrder], [Status], [CreatedAt], [UpdatedAt], [Quantity], [SoldCount]) VALUES (3, 3, N'SKU-3', N'Default', N'Default', CAST(2900000.00 AS Decimal(18, 2)), 1, 1, 1, CAST(N'2025-12-10T00:00:00.000' AS DateTime), NULL, 100, 0)
GO
SET IDENTITY_INSERT [dbo].[ProductVariants] OFF
GO
SET IDENTITY_INSERT [dbo].[Ranks] ON 

INSERT [dbo].[Ranks] ([Id], [RankName], [MinPoint], [DiscountPercent], [Description], [IsActive]) VALUES (1, N'Bronze', 0, CAST(0.00 AS Decimal(5, 2)), N'Thành viên đồng', 1)
INSERT [dbo].[Ranks] ([Id], [RankName], [MinPoint], [DiscountPercent], [Description], [IsActive]) VALUES (2, N'Silver', 1000, CAST(3.00 AS Decimal(5, 2)), N'Thành viên bạc', 1)
INSERT [dbo].[Ranks] ([Id], [RankName], [MinPoint], [DiscountPercent], [Description], [IsActive]) VALUES (3, N'Gold', 5000, CAST(5.00 AS Decimal(5, 2)), N'Thành viên vàng', 1)
SET IDENTITY_INSERT [dbo].[Ranks] OFF
GO
INSERT [dbo].[RolePermissions] ([RoleId], [PermissionId]) VALUES (1, 1)
INSERT [dbo].[RolePermissions] ([RoleId], [PermissionId]) VALUES (1, 2)
INSERT [dbo].[RolePermissions] ([RoleId], [PermissionId]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name], [Description]) VALUES (1, N'ROLE_ADMIN', N'Quản trị viên hệ thống')
INSERT [dbo].[Roles] ([Id], [Name], [Description]) VALUES (2, N'ROLE_STAFF', N'Nhân viên quản lý đơn hàng và sản phẩm')
INSERT [dbo].[Roles] ([Id], [Name], [Description]) VALUES (3, N'ROLE_USER', N'Khách hàng sử dụng hệ thống')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[Users] ([AccountId], [FullName], [Avatar], [Phone], [Gender], [DateOfBirth], [TotalPoint], [TotalSpending], [CreatedAt], [UpdatedAt], [RankId]) VALUES (2, NULL, NULL, N'0900000001', 1, CAST(N'2001-01-01' AS Date), 0, CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-06-26T20:59:35.890' AS DateTime), NULL, 1)
INSERT [dbo].[Users] ([AccountId], [FullName], [Avatar], [Phone], [Gender], [DateOfBirth], [TotalPoint], [TotalSpending], [CreatedAt], [UpdatedAt], [RankId]) VALUES (3, NULL, NULL, N'0900000002', 0, CAST(N'2002-01-01' AS Date), 0, CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-06-26T20:59:35.890' AS DateTime), NULL, 1)
INSERT [dbo].[Users] ([AccountId], [FullName], [Avatar], [Phone], [Gender], [DateOfBirth], [TotalPoint], [TotalSpending], [CreatedAt], [UpdatedAt], [RankId]) VALUES (4, NULL, NULL, N'0900000003', 1, CAST(N'2003-01-01' AS Date), 0, CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-06-26T20:59:35.890' AS DateTime), NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[Vouchers] ON 

INSERT [dbo].[Vouchers] ([id], [code], [DiscountPercent], [DiscountAmount], [MinOrderValue], [MaxDiscount], [Quantity], [StartDate], [ExpiredAt], [IsActive], [Name], [UsedCount]) VALUES (1, N'WELCOME10', 10, NULL, CAST(500000.00 AS Decimal(10, 2)), CAST(100000.00 AS Decimal(10, 2)), 100, CAST(N'2026-06-13T13:08:57.577' AS DateTime), CAST(N'2026-12-31T00:00:00.000' AS DateTime), 1, N'Giảm 10% cho khách hàng mới', 15)
INSERT [dbo].[Vouchers] ([id], [code], [DiscountPercent], [DiscountAmount], [MinOrderValue], [MaxDiscount], [Quantity], [StartDate], [ExpiredAt], [IsActive], [Name], [UsedCount]) VALUES (2, N'SPORT20', 20, NULL, CAST(2000000.00 AS Decimal(10, 2)), CAST(300000.00 AS Decimal(10, 2)), 50, CAST(N'2026-06-13T13:08:57.577' AS DateTime), CAST(N'2026-10-31T00:00:00.000' AS DateTime), 1, N'Giảm 20% đồ thể thao', 12)
INSERT [dbo].[Vouchers] ([id], [code], [DiscountPercent], [DiscountAmount], [MinOrderValue], [MaxDiscount], [Quantity], [StartDate], [ExpiredAt], [IsActive], [Name], [UsedCount]) VALUES (3, N'SUMMER50K', NULL, CAST(50000.00 AS Decimal(10, 2)), CAST(500000.00 AS Decimal(10, 2)), CAST(50000.00 AS Decimal(10, 2)), 200, CAST(N'2026-06-13T13:08:57.577' AS DateTime), CAST(N'2026-09-30T00:00:00.000' AS DateTime), 1, N'Giảm trực tiếp 50.000 VNĐ', 45)
SET IDENTITY_INSERT [dbo].[Vouchers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Accounts_Email]    Script Date: 7/4/2026 11:17:00 AM ******/
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [UQ_Accounts_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Accounts_Username]    Script Date: 7/4/2026 11:17:00 AM ******/
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [UQ_Accounts_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Permissi__0FFDA357294E397D]    Script Date: 7/4/2026 11:17:00 AM ******/
ALTER TABLE [dbo].[Permissions] ADD UNIQUE NONCLUSTERED 
(
	[PermissionName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__737584F6E3061523]    Script Date: 7/4/2026 11:17:00 AM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Shipment__C3905BCE4618D5FD]    Script Date: 7/4/2026 11:17:00 AM ******/
ALTER TABLE [dbo].[Shipments] ADD UNIQUE NONCLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Wishlist]    Script Date: 7/4/2026 11:17:00 AM ******/
ALTER TABLE [dbo].[Wishlists] ADD  CONSTRAINT [UQ_Wishlist] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Addresses] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[Addresses] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Addresses] ADD  DEFAULT (N'Địa chỉ mặc định') FOR [Label]
GO
ALTER TABLE [dbo].[Carriers] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Carts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [Gender]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [Salary]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OrderAddresses] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('PENDING') FOR [OrderStatus]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('UNPAID') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Positions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT ((1)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ((1)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ((0)) FOR [SoldCount]
GO
ALTER TABLE [dbo].[Ranks] ADD  DEFAULT ((0)) FOR [DiscountPercent]
GO
ALTER TABLE [dbo].[Ranks] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Shipments] ADD  DEFAULT ('PENDING') FOR [ShippingStatus]
GO
ALTER TABLE [dbo].[Shipments] ADD  DEFAULT ((0)) FOR [ShippingFee]
GO
ALTER TABLE [dbo].[Shipments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Gender]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [TotalPoint]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [TotalSpending]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Roles]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_Accounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([Id])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_Accounts]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Positions] FOREIGN KEY([PositionId])
REFERENCES [dbo].[Positions] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Positions]
GO
ALTER TABLE [dbo].[OrderAddresses]  WITH CHECK ADD  CONSTRAINT [FK_OrderAddresses_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderAddresses] CHECK CONSTRAINT [FK_OrderAddresses_Orders]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_ProductVariants] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_ProductVariants]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Accounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Accounts]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Vouchers] FOREIGN KEY([VoucherId])
REFERENCES [dbo].[Vouchers] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Vouchers]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_Variants] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([Id])
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_Variants]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariants_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [FK_ProductVariants_Products]
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD  CONSTRAINT [FK_Shipments_Carriers] FOREIGN KEY([CarrierId])
REFERENCES [dbo].[Carriers] ([Id])
GO
ALTER TABLE [dbo].[Shipments] CHECK CONSTRAINT [FK_Shipments_Carriers]
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD  CONSTRAINT [FK_Shipments_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[Shipments] CHECK CONSTRAINT [FK_Shipments_Orders]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Accounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Accounts]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Ranks] FOREIGN KEY([RankId])
REFERENCES [dbo].[Ranks] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Ranks]
GO
USE [master]
GO
